<input type="hidden" name="_csrf" value="<%= csrfToken %>">

<div id="grid-t">
  <label for="title">Title</label>
  <input
    required
    value="<%= entry.title %>"
    type="text"
    name="title"
    id="title"
  />
  <label for="description">Description</label>
  <input name="description" id="description" type="text" value="<%= entry.description %>"></input
  >
</div>

<!-- <div class="paper">
  <div class="holes"></div>
  <label for="journal">Journal entry:</label>
  <textarea required name="journal" id="journal">
<%= entry.journal %></textarea>
</div> -->

<div class="paper">
  <div class="paper-content">
    <textarea required name="journal" id="journal">
      <%= entry.journal %></textarea>
  </div>
</div>

<br>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
<br>
